accelerate==0.25.0
transformers==4.36.2
tensorflow==2.15.0
requests==2.31.0
timm==0.9.12
typing-extensions==4.9.0
numpy==1.24.4
einops==0.4.1
diffusers==0.25.0
huggingface_hub==0.20.1
ftfy
albumentations
opencv-python
pytorch-lightning
safetensors
gradio
altair
easygui
fairscale
GitPython
toml
voluptuous
tabulate
#https://github.com/jllllll/bitsandbytes-windows-webui/releases/download/wheels/bitsandbytes-0.41.2.post2-py3-none-win_amd64.whl --prefer-binary

